/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* General styles */
a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

section{
  min-width:100vw;
}

/* Header and Navigation Styles */
header {
  background-color: #3b141c;
  padding: 15px;
  display: flex;
  width: 100%;
  position: fixed;
}

header h2 {
  font-size: medium;
  color: #fff;
}

/* Navigation container */
.navs-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3b141c;
  padding: 10px 20px;
  z-index: 1000;
}

/* Navigation links */
.nav-links {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
  transition: 0.4s ease;
}

nav .link-list {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

li .nav-links {
  padding: 10.5px 7px;
  border-radius: 15px;
  transition: 0.4 ease;
}

li .nav-links:hover {
  background: #f8951c;
  color: black;
}

/* Menu Bar (Hamburger Icon) */

.bar {
  display: block;
  width: 25px;
  height: 5px;
  background: #fff;
  margin: 5px auto;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-bar {
  display: none;
}

/* Styles for Home Section */
.home {
  background-color: #3b141c;
  padding: 20px 25px;
}

.home .home-content {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
}

.Product-pic {
  width: 100%;
  border-radius: 20px;
}

/* Write-up section */
.write-up .d-head {
  font-family: "Miniver", cursive;
  color: #f8951c;
}

.write-up .intro {
  font-weight: bolder;
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.write-up .descript {
  color: #fff;
  font-size: small;
  font-family: sans-serif serif;
  line-height: 1.5em;
}

/* Buttons */
.connect-btns {
  display: flex;
  gap: 1rem;
}

.my-connect-link {
  color: blueviolet;
  font-size: small;
}

.btns {
  padding-top: 10px;
}

.btnss {
  background-color: #f8951c;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
  border: 1.5px solid transparent;
}

.btnss:hover {
  background: none;
  border: 1.5px solid white;
}

/* About styles */
.About {
  padding: 130px ;
  align-content: center;
  background-color: #faf4f5;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}

.About-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
  padding: 20px 25px;
}
.Loveit {
  width: 250px;
  height: 230px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.A-content {
  justify-items: center;
}
#A-h2 {
  text-align: center;
  padding: 12px 15px;
}
#A-h2::after {
  display: block;
  height: 3px;
  width: 3.8rem;
  background-color: #f8951c;
  margin: 1px auto 0;
  content: "";
}

.A-write-up {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  line-height: 20px;
text-align: center; 
}

.A-links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 0;
}
.pics {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #252525;
  transition: 0.2s ease;
}
.pics:hover {
  border: 2px solid #f8951c;
}

.A-write-up {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* Menu Styles */

.Menu-segement{
 padding: 20px 20px 15px ;
 background-color: #252525;
 justify-content: space-between;
 
}

.Menu-content{
  justify-content: center;
  gap: 200rem;
  color: #fff;
  justify-content: space-between;
  align-items: center;

}
#M-h2{
  padding: 27px 15px;
text-align: center;
}
#M-h2::after{
  display: flex;
  width: 3.8rem;
  height: 3px;
  background-color: #f8951c;
  margin: 1px   auto 0;
  content:""; 

}
.Main-u{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 10px;
  line-height: 19px;
  text-align: center;
}


.Menu-list{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-rows: repeat(2 ,1fr);
  row-gap: 5rem;
  column-gap: 11rem;
}

.M-svg{
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin-bottom: 15px;

  aspect-ratio:1;
}

.Menu-content .Menu-list .M-outline{
  text-align: center;
}


/* Testimonial Segement */
.Testimonial-Segement{
  background-color: #faf4f5;
  padding:20px  25px;
 
}


.Testimonial-h2{
  padding:20px 15px ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.Testimonial-h2::after{
content: "";
display: block;
width: 3rem;
height: 3px;
margin: 1px auto 0;
background-color: #f8951c;
}



 .Testimonials-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 3rem;
  column-gap: 9rem;

}
.testifier{
  justify-items: center;
}



.testifier-img{
  width: 200px;
  aspect-ratio:1;
  border-radius: 100px;
  padding: 10px;
 

}
.testifier-name{
  text-align: center;
  padding: 10px;
  padding-top: 0%;
  font-weight: bolder;
}

.Tetimony{
  font-size: small;
  line-height: 14px;
  text-align: center;
}


/* Gallery Segement */
.Gallery{
  justify-content: center;
  /* padding: 50px  0 100px; */
}


.Gallery-head{
  text-align: center;
  padding: 15px 20px;
}
.Gallery-head::after{
  content: "";
  display: block;
  width: 3.8rem;
  height: 3px;
  margin: 1px auto 0;
  background-color: #f8951c;
  align-items: center;
}
.Gallery-outline{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-rows: repeat(2,1fr);
 row-gap: 9rem;
  column-gap: 6rem; 
  justify-items: center;
  padding-top: 20px;
}
.Gallery-listing{
  overflow: hidden;
  width: 200px;
  height: 200px;
  /* aspect-ratio: 1; */
  border-radius: 10px;
}
.Galax{
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s;
}
.Galax:hover{
  transform: scale(1.2);
}

/* CONTACT SEGEMENT  */
.footer{
  background-color: #faf4f5;
  width: 100vh;
  padding: 50px  0 100px ;
}
.section-content{
  display: flex;
  justify-content: space-between;
align-items: center;
}
.form-input{
  /* width: 100%; */
}
.contact-info{
  display: flex;
  justify-content: space-between;
  gap: 15px;
text-align: center;
 margin: 20px 0;
}
.contact-info-list{
  line-height: 20px;
}






/* === Responsive Design === */
@media screen and (max-width: 900px) {
  /* Show menu icon */
  .menu-bar {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }

  /* Hide menu by default */
  .link-list {
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 8rem;
    gap: 3.5rem;
    left: 100%;
    width: calc(60% - 4rem);
    height: 50rem;
    text-align: center;
    padding: 3rem 0;
    border-radius: 10px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .link-list.active {
    left: -1rem;
    right: 1rem;

  }
  .nav-links {
    color: black;
  }

  /* make the 2nd bar invisible */
  .menu-bar.active .bar:nth-child(2) {
    opacity: 0;
  }
  /* rotate 1st bar */
  .menu-bar.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  /* rotate 3rd bar */
  .menu-bar.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*----HOME----*/
  .navs-content {
    position: static;
  }

  .home .home-content {
  flex-direction: column-reverse;
  flex-direction: column-reverse;
  /* max-height: max-content; */
    flex-direction: column-reverse;
  /* max-height: max-content; */
    justify-content: space-around;
    padding: 0;
  }

  .Product-pic {
    width: 100%;
    border-radius: 50%;
    padding: 0%;
  }

  .write-up .d-head {
    text-align: center;
  }

  .write-up .intro {
    font-size: larger;
  }

  .descript {
    text-align: center;
  }
  .connect-btns {
    justify-content: center;
  }

  /*----About----*/

  .About-details {
    flex-direction: column-reverse;
  }

  .A-content {
    text-align: center;
  }


/* Menu Styles */

.Menu-list{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(3 ,1fr);
  row-gap: 5rem;
  column-gap: 11rem;
}

/* Testimonial Segement */

.Testimonials-list{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 3rem;
  column-gap: 9rem;


}

/* Gallery Segement */
.Gallery-outline{
grid-template-columns: repeat(2,1fr);
}
 
}

/* === Responsive Design for mobile screen  === */
@media screen and (max-width:640px ){
  
  /* Menu Styles */
 .Menu-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 5rem;
    column-gap: 11rem;
  }

  .Main-u{
    text-align: center;
  }

  /* Testimonial Segement */

.Testimonials-list{
  grid-template-columns: repeat(1,1fr);
 padding: 25px   140px;
 justify-content: center;
 align-items: center;
}
 /* Gallery Segement */
 

.Gallery-outline{
   grid-template-columns: repeat(1,1fr);
 }
}
